.content {
    display: flex;
}

.sliders {
    width: 400px;
    height: 430px;
    background-size: 100% 100%;
    border: 0;
    border-radius: 20px !important;
}

.slide_content {
    width: 340px !important;
    padding: 20px;
}
