.footer {
    text-align: left;
    /*background-color: #dc7d3d !important;*/
    /*padding-top: 200px;*/
    font-size: x-small;
}

.footer .footer_content1 {
    padding-top: 20px;
}

.footer .contentFooter{
    width: 200px;
}

.icoI:hover img{
    -webkit-transform:scale(1.1);transform:scale(1.3);
}
.icoF:hover img{
    -webkit-transform:scale(1.1);transform:scale(1.3);
}
.icoT:hover img{
    -webkit-transform:scale(1.1);transform:scale(1.3);
}

.imgfooter {
    width: 100px;
    height: 65px;
    /*margin-top: 200px;*/
}

.nosotros{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.contentFooter {
    width: 280px;
    margin-top: 10px;
}

.icoCont {
    display: flex;
    margin-bottom: 0px;
}

.ico {
    margin: 5px;
    position: relative;
    left: -10px;
}

.ico:hover{
    cursor: pointer;
}
.contenidoContacto{
    color: #ffffff;
}
.tituContacto {
    margin-bottom: 20px;
    color: #ffffff;
}

.policy{
    padding-top: 5px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}
.policy:hover{
    text-decoration: underline;
    color: #FFFFFF;
    text-shadow: #E57B1C 1px 0 10px;
    font-size: 12px;
    transition: 1s;
}

.kru {
    color: #fd9f02;
    font-weight: 800;
    text-decoration: none;
    animation-name: kru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.contenido{
    color: #ffffff;
}
.desarrollado{
    color: #ffffff;
}

@keyframes kru {
    0% {
        color: #fd9f02;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #fd9f02;
    }
}

.kru:hover {
    color: #032f48;
}

@media (max-width: 991px) {
    .contentFooter {
        width: 100%;
    }

}
